@import "../../style.scss";
    .my-post {
        @include themify($themes) {
        display: flex;
        flex-direction: column;
        gap: 2ch;
        background-color: themed('bg');
        padding: 3ch;
        border-radius: 8px;
        -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        -moz-box-shadow : 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        margin-top: 3ch;
        .post-text {
            display: flex;
            justify-content: space-between;
            .left {
                display: flex;
                gap: 2ch;
                min-width: 80%;
                img {
                    min-height: 40px;
                    min-width: 40px;
                    max-height: 40px;
                    max-width: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: top;
                    cursor: pointer;
                    transition: .3s ease-in-out;
                    &:hover {
                        transition: .3s ease-in-out;
                        opacity: 0.8;
                    }
                }
                textarea {
                    background-color: themed('bg');
                    border: none;
                    border-radius: 5px;
                    color: themed('textColor');
                    padding: 2ch;
                    width: 90%;
                    min-height: 10vh;
                    text-decoration: none;
                    resize: none;
                    &::placeholder {
                        color: themed('textColor');
                        font-family: "Open Sans", sans-serif;
                        font-size: 14px;
                    }
                    &:focus {
                        outline: none;
                    }
                }
            }
            .right {
                display: flex;
                
                .file {
                    max-width: 80px;
                    max-height: 80px;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 8px;
                }
            }
           
        }
        .message {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .options {
                display: flex;
                gap: 2ch;
                justify-content: center;
                align-items: center;
                .icon {
                    height: 35px;
                    width: 35px;
                    cursor: pointer;
                    transition: .3s ease-in-out;
                    &:hover {
                        transition: .3s ease-in-out;
                        scale: 1.15;
                    }
                }
            }
            .send-msg {
                display: flex;
                justify-content: center;
                align-items: center;
                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 35px;
                    width: 80px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    background-color: rgba(49, 49, 179, 0.755);
                    font-weight: 600;
                    color: white;
                    transition: .3s ease-in-out;
                    &:hover {
                        transition: .3s ease-in-out;
                        background-color: rgba(49, 49, 179, 0.633);
                    }
                }
            }
        }
    }
}