@import "../../style.scss";


.update-bg {
    @include themify($themes) {
           
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.492);
    z-index: 999;
    color: themed('textColor');
        .update-container{
            margin: 5% auto;
            width: 50vw;
            height: 65vh;
            padding: 50px;
            border-radius: 8px;
            background-color: themed('bgSoft');
            -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
            -moz-box-shadow : 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
            box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
            @media (max-width: 900px) {
                height: 63%;
            }
            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                h2 {
                    margin: 0;
                    @media (max-width: 560px) {
                        display: none;
                     }
                }
               
                .cross {
                    background-color: transparent;
                    border: none;
                    padding: 0;
                    cursor: pointer;
                    transition: .3s ease-in-out;
                    color: themed('textColor');
                    &:hover{
                        transition: .3s ease-in-out;
                        transform: rotate(180deg)
                    }
                }
            }
            .update-form {
                margin-top: 6%;

                form {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 25px;
                    .update-gallery {
                        width: 100%;
                        height: 100%;
                        position: relative;
                        display: flex;
                        justify-content: center;   
                        align-items: center; 
                        gap: 10px;
                        align-items: center;
                        margin-bottom: 25px;
                        @media (max-width: 950px) {
                            width: calc(100% + 20px)
                        }
                        .img-gallery {
                            max-width: 50vw;
                            max-height: 50vh;
                            object-fit: cover;
                            object-position: center;
                        }
                        .icon-abs {
                            position: absolute;
                            height: 80px;
                            width: 80px;
                            left:0;
                            right:0;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                            color: white;
                        }
                        .img-abs-update {
                                position: absolute;
                                left:0;
                                top: 50%;
                                right: 0;
                                margin:auto;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            .fileStory {
                                max-width: 70vw;
                                max-height: 50vh;
                                object-fit: cover;
                                object-position: center;
                                border-radius: 8px;
                            }
                        }
                        input {
                            width: calc(80% - 34px);
                            @media (max-width: 950px) {
                                width: 100%;
                            }
                            height: 10px;
                            border-radius: 5px;
                            border: none;
                            background: themed('bg');
                            color: themed('textColor');
                            padding: 10px;
                             &:focus {
                                outline: none;
                            }
                        }
                    }
                    button {
                        position: absolute;
                        position: absolute;
                        left:37%;
                        top: 0;
                        right: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 35px;
                        width: 80px;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        background-color: rgba(49, 49, 179, 0.755);
                        font-weight: 600;
                        color: white;
                            &:hover {
                                background-color: rgba(49, 49, 179, 0.575);
                            }
                        }
                        .cancel {
                            left:50%;
                        }
                    .profile-update-box {
                            display: flex;
                            @media (max-width: 900px) {
                                flex-direction: column;
                                gap: 25px;
                            }                
                    }               
                }
            } 
        }   
    }
}