@import "../../style.scss";


.update-bg {
    @include themify($themes) {
           
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 200%;
    background-color: rgba(0, 0, 0, 0.492);
    z-index: 999;
    color: themed('textColor');
        .update-container{
            margin: 5% auto;
            width: 50%;
            height: 35%;
            padding: 50px;
            border-radius: 8px;
            background-color: themed('bgSoft');
            -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
            -moz-box-shadow : 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
            box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
            @media (max-width: 900px) {
                height: 63%;
            }
            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                h2 {
                    margin: 0;
                    @media (max-width: 560px) {
                        display: none;
                     }
                }
               
                .cross {
                    background-color: transparent;
                    border: none;
                    padding: 0;
                    cursor: pointer;
                    transition: .3s ease-in-out;
                    color: themed('textColor');
                    &:hover{
                        transition: .3s ease-in-out;
                        transform: rotate(180deg)
                    }
                }
            }
            .update-form {
                margin-top: 6%;

                form {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 25px;
                    .form-box {
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        margin-bottom: 25px;
                        @media (max-width: 950px) {
                            width: calc(100% + 20px)
                        }
                        label {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            cursor: pointer;
                            transition: .3s ease-in-out;
                            &:hover {
                                transition: .3s ease-in-out;
                                opacity: 0.7;
                            }
                            @media (max-width: 290px) {
                                font-size: 12px;;
                             }
                        }
                        input {
                            width: calc(80% - 34px);
                            @media (max-width: 950px) {
                                width: 100%;
                            }
                            height: 10px;
                            border-radius: 5px;
                            border: none;
                            background: themed('bg');
                            color: themed('textColor');
                            padding: 10px;
                            -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
                            -moz-box-shadow : 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
                            box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
                           
                            &:focus {
                                outline: none;
                            }
                        }
                    }
                    button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 35px;
                        width: 80px;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        background-color: rgba(49, 49, 179, 0.755);
                        font-weight: 600;
                        color: white;
                            &:hover {
                                background-color: rgba(49, 49, 179, 0.575);
                            }
                        }
                    .profile-update-box {
                            display: flex;
                            @media (max-width: 900px) {
                                flex-direction: column;
                                gap: 25px;
                            }
                        .profile-infos {
                            display: flex;
                            flex-direction: column;
                            width: 50%;
                            @media (max-width: 900px) {
                                width: 100%;
                             }
                            
                        }
                        .profile-desc {
                            width: 70%;
                            @media (max-width: 950px) {
                                width: 80%;
                            }
                            @media (max-width: 650px) {
                                width: 90%;
                            }
                            textarea {
                                width: 80%;
                                height: 47%;
                                border-radius: 5px;
                                border: none;
                                background: themed('bg');
                                color: themed('textColor');
                                padding: 10px;
                                resize: none;
                                -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
                                -moz-box-shadow : 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
                                box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
                                &:focus {
                                    outline: none;
                                }
                                @media (max-width: 1250px) {
                                   height: 300px;
                                }
                                @media (max-width: 950px) {
                                    width: 100%;
                                }
                            }
                        }   
                    }               
                }
            } 
        }   
    }
}